language: java
jdk: oraclejdk8
# Caches downloaded libraries between builds
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
before_install:
  # Use wrapper script to install fixed maven version
  - mvn -N io.takari:maven:wrapper -Dmaven=3.3.9
install:
  - ./mvnw install -DskipTests -Dmaven.javadoc.skip=true -B -V -T4
script:
  - ./mvnw verify
after_success:
  - .travis/sonar.sh
  - bash <(curl -s https://codecov.io/bash)
